In [1]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [2]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.100908  0.396524  0.388022  0.380769  0.002863  0.786351
2  0.124978  0.565037  0.829724  0.407485  0.446408  0.159476
3  0.834077  0.781178  0.930146  0.342366  0.342013  0.891606
4  0.300349  0.390783  0.821688  0.435886  0.376047  0.479514
5  0.257047  0.369405  0.835739  0.450703  0.415244  0.186295
6  0.809821  0.013625  0.238012  0.987422  0.622603  0.344829

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [3]:
df1['column_1'].mean()

0.40452975048968254

In [6]:
df1.apply(lambda x : x.mean(),axis=0)

column_1    0.404530
column_2    0.419425
column_3    0.673889
column_4    0.500772
column_5    0.367530
column_6    0.474679
dtype: float64

In [7]:
df1['column_2'].std()

0.25321460816112595

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [8]:
df1.loc[2, 'column_2'] = 'some_string'

In [9]:
df1

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.100908     0.396524  0.388022  0.380769  0.002863  0.786351
2  0.124978  some_string  0.829724  0.407485  0.446408  0.159476
3  0.834077     0.781178  0.930146  0.342366  0.342013  0.891606
4  0.300349     0.390783  0.821688  0.435886  0.376047  0.479514
5  0.257047     0.369405  0.835739  0.450703  0.415244  0.186295
6  0.809821     0.013625  0.238012  0.987422  0.622603  0.344829

In [10]:
mean_column_2 = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error is commimg due to non numeric data type in column_2