In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc-->Label-based Indexing: It is primarily label-based indexing, which means you use the actual labels (row and column names) to access data.
iloc-->Integer-based Indexing: It is primarily integer-based indexing, which means you use integer positions to access data.

In [10]:
df.loc[0 ,'course_name']

'Data Science'

In [12]:
df.iloc[0,0]

'Data Science'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [13]:
new_df = df.reindex(index=[3,0,1,2])

In [14]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [15]:
new_df.loc[2] #label

course_name    Big Data
duration              6
Name: 2, dtype: object

In [16]:
new_df.iloc[2] #position

course_name    Machine Learning
duration                      3
Name: 1, dtype: object